.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.non-active {
  color: gray;
  margin: 0 5px;
}

.wrap {
  display: flex;
  border: 2px solid lightgray;
  padding: 5px 0 5px 2px;
  min-width: 280px;
}

.text {
  flex-grow: 5;
}
