.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.non-active {
  color: gray;
  margin: 0 5px;
}

.wrap {
  display: flex;
  border: 2px solid lightgray;
  padding: 5px 0 5px 2px;
}


.buttons {
  display: inline-block;
  margin: 0 0 0 30px;
}
