.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 998;
  background: rgba(218,218,218,0.4);
}
.modal {
  position: fixed;
  top: 150px;
  left: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  height: 90px;
  width: 300px;
  z-index: 999;
  border: 2px solid darkgray;
}

.yes {
  background: blue;
  color: #fff;
  margin: 0 10px;
}

.no {
  background: #fff;
  color: #000;
}
